.homebody{
    background: white !important;
}


.navbar{
   padding: 2rem 2rem;
   display: flex;
    width: 100%;
    height : 8rem;
    justify-content: space-around;
    flex-direction: row;
    background:#212121;
    color:white;
    padding-left: 1rem;
}


.title-main {
    margin-right: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 2rem;
    cursor: pointer;
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;
    color:white;
    outline: none;
    text-underline-offset: 0;
}

.title-main:hover{
    color:white;
}

.option-main {
    font-size: 20px;
    text-align: center;
    padding-bottom: 2rem;
    cursor: pointer;
    padding-right: 2rem;
    font-weight: bold;
    
    
}


.content{
    display: flex;
    width: 100%;
    min-height: 25rem;
    background:#b0bec5 !important;
}


.description{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:22px;
    font-weight: bold;
    padding-left: 4rem;
    padding-right: 4rem;
}


.btn{
    width: 100%;
    background: #b0bec5 !important;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.btn> button{
    background: #304ffe;
    color:white;
    padding-top:1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;

}